# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio stuff
*.opendb
*.opensdf
*.aps
*.ncb
*.cachefile
*.db
*.suo
*.ipch
*.tlog
*.idb
*.pdb
*.ilk
*.log
*.VC.db
.vs/
/.vs
Dindi/.vs